*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.users-article {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  margin-bottom: 2rem;
}

.photo {
  width: 40%;
  border: 1px solid black;
  background-color: beige;
}

.see-posts {
  width: 150px;
  height: 40px;
  background-color: rgb(212, 142, 51);
  color: white;
  padding: 5px;
  font-size: 17px;
}

.details {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: beige;
}

.details p {
  padding-top: 30%;
}

.bio {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(212, 142, 51);
}

.bio p {
  padding-bottom: 10px;
}

.post-details {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  background-color: bisque;
}

.post-details p {
  position: relative;
  top: 90%;
  left: 87%;
}

.post-details h2 {
  padding-bottom: 10px;
}

.posts-details {
  border: 1px solid black;
  padding: 10px;
  background-color: bisque;
}

.delete-post-btn {
  padding: 5px 10px;
  font-size: 17px;
  color: white;
  background-color: rgb(235, 24, 140);
  margin-top: 20px;
}

.comment-cont {
  border: 1px solid black;
  padding: 10px;
}

.posts-details p {
  position: relative;
  top: 90%;
  left: 87%;
}

.post-comment {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.post-comments {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  background-color: bisque;
}

.left {
  display: flex;
}

.post-head {
  display: flex;
  justify-content: space-between;
}

.post-body {
  padding-top: 20px;
}

.comments-container {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  background-color: bisque;
}

.post-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  padding: 10px;
}

.pagination {
  width: 150px;
  height: 40px;
  background-color: rgb(212, 142, 51);
  color: white;
  padding: 5px;
  font-size: 17px;
}

.form-post {
  width: 30%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.label1 {
  font-size: 20px;
  padding-bottom: 10px;
}

.label2 {
  font-size: 20px;
}

.post-btn {
  padding-top: 10px;
  font-size: 22px;
}

.new-btn {
  background-color: rgb(185, 108, 6);
  color: white;
  padding: 10px;
}

.like-btn {
  font-size: 20px;
  padding: 10px;
}

.like {
  padding-top: 10px;
  position: relative;
  right: 510px;
}

.comment-field {
  font-size: 22px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-actions {
  margin-left: 50px;
  margin-top: 10px;
}

.comm-btn {
  font-size: 20px;
  background-color: rgb(228, 143, 15);
  color: white;
}

.add-p {
  font-size: 20px;
  margin-top: 10px;
  border: 1px solid violet;
  width: 150px;
  text-align: center;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.devise-head {
  text-align: center;
}

.field-dev {
  margin-block: 10px;
  width: 80%;
  font-size: 25px;
}

.dev-links {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.actions-dev input[type="submit"] {
  font-size: 25px;
  background-color: brown;
  color: white;
  width: 20rem;
}

.field-dev input[type="text"],
.field-dev input[type="email"],
.field-dev input[type="password"],
.field-dev textarea {
  height: 40px;
  width: 20rem;
}
